.item-liked,
.item-replies_custom {
  float: left;

  :hover {
    background-color: var(--link-color);
    color: var(--body-bg);
  }

  a {
    text-decoration: none;
    padding: 0.35rem;
  }

  .icon {
    display: inline !important;
  }
}

.item-replies {
  display: none;
}

.PostLikesModal-list,
.PostMentionsModal-list {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    color: @text-color;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: justify;
    .PostPreview-excerpt{
      font-weight: normal;
    }
    &:hover .username {
      text-decoration: underline;
    }
  }

  .Avatar {
    .Avatar--size(32px);
    vertical-align: middle;
    margin-right: 5px;
  }
}

.item-like {
  :hover {
    color: var(--link-color);
  }

  :focus {
    color: currentColor;
  }

  .selected {
    color: var(--header-control-bg);
  }

  .selected:focus {
    color: var(--header-control-bg);
  }
}